footer {
    position: relative;
    margin-top: 0vh;
    background-color: rgb(215, 255, 255);
    color: rgb(0, 0, 0);
    padding: 35px;
    font-family: 'Varela Round', sans-serif;
}

footer .f1 {
    color: rgb(0, 0, 0);
    font-family: 'Varela Round', sans-serif;
    background: rgb(154, 240, 192);
    border-radius: 5px;
    padding: 10px 17px;
    display: flex;
    justify-content: right;
    width: max-content;
    position: absolute;
    top: 5vh;
    right: 15vw;
    display: flex;
    flex-wrap: wrap;
}

footer .f1:hover {
    background: rgb(200, 241, 219);
}

footer .f2 {
    font-family: 'Varela Round', sans-serif;
    background: rgb(161, 247, 200);
    color: black;
    border-radius: 5px;
    padding: 12px 17px;
    display: flex;
    justify-content: right;
    width: max-content;
    position: absolute;
    top: 5vh;
    right: 4vw;
    display: flex;
    flex-wrap: wrap;
}

footer .f2:hover {
    background: rgb(177, 235, 203);
}

footer li {
    color: rgb(132, 125, 228);
}