* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(231, 248, 248);
    color: black;
    padding: 2vh;
    z-index: 1;
    
}

li {
    display: inline;
    padding-left: 30px;
    color: black;
    font-family: 'Varela Round', sans-serif;

}

#nav:hover {
    color: rgb(33, 46, 39);
}

#nav:link {
    text-decoration: none;
    color: black;
    font-size: 5vh;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

#r-1:link {
    display: inline;
    position: absolute;
    right: 35vh;
    top: 5px;
    text-decoration: none;
    background: rgb(158, 180, 241);
    color: rgb(0, 0, 0);
    padding: 11px 16px;
    border-radius: 4px;
}

#r-1:hover {
    background: rgb(181, 198, 245);
}

#r-2:link {
    display: inline-block;
    position: absolute;
    right: 10vh;
    top: 5px;
    text-decoration: none;
    background: rgb(158, 180, 241);
    color: black;
    padding: 11px 16px;
    border-radius: 4px;
}

#r-2:hover {
    background: rgb(181, 198, 245);
}

.progressbar {
    background: rgb(129, 176, 247);
    height: 3px;
    width: auto;
    overflow: hidden;
    animation: progress 3s ease-in-out normal;
}

@keyframes progress {
    0% {
        width: 0vw;
    }

    50% {
        width: 40vw;
    }

    100% {
        width: auto;
    }
}