@media screen and (max-width: 1000px) {

    #nav:link {
        text-decoration: none;
        color: black;
        font-size: 5vh;
        font-weight: bolder;
        font-family: 'Josefin Sans', sans-serif;
        display: inline-block;
    }
    
    #r-1:link {
        display: inline;
        position: absolute;
        right: 35vh;
        top: 5px;
        text-decoration: none;
        background: rgb(158, 180, 241);
        color: rgb(0, 0, 0);
        padding: 10px 15px;
        border-radius: 4px;
    }
    
    #r-1:hover {
        background: rgb(181, 198, 245);
    }
    
    #r-2:link {
        display: inline-block;
        position: absolute;
        right: 10vh;
        top: 5px;
        text-decoration: none;
        background: rgb(0, 255, 191);
        color: black;
        padding: 10px 15px;
        border-radius: 4px;
    }
    
    #r-2:hover {
        background: rgb(128, 250, 220);
    }
    footer .f1 {
        color: rgb(0, 0, 0);
        font-family: 'Varela Round', sans-serif;
        background: rgb(154, 240, 192);
        border-radius: 5px;
        padding: 10px 17px;
        display: flex;
        justify-content: right;
        width: max-content;
        position: absolute;
        top: 5vh;
        left: 50vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    footer .f1:hover {
        background: rgb(200, 241, 219);
    }
    
    footer .f2 {
        font-family: 'Varela Round', sans-serif;
        background: rgb(161, 247, 200);
        color: black;
        border-radius: 5px;
        padding: 10px 11px;
        display: flex;
        justify-content: right;
        width: max-content;
        position: absolute;
        top: 5vh;
        left: 75vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    
}